<HTML>
    <HEAD><TITLE>SOLAR SYSTEM</TITLE></HEAD>
    <BODY BGCOLOR=PURPLE TEXT=BLACK TOPMARGIN=10 BOTTOMARGIN=10
     LEFTMARGIN=10 RIGHTMARGIN=10
    <H1 ALIGN=CENTER>
    <MARQUEE BEHAVIOUR=ALTERNATE DIRECTION=RIGHT SCROLLAMOUNT=1 BGCOLOUR=BLACK
          WIDHT=20% HEIGHT=10% style="font-size: 34px;">Solor System</MARQUEE></H1>
    <HR WIDHT=20% ALIGN=CENTER COLOR=BLACK>
    <HR SIZE=3 COLOR=BLACK>
        
        

        
        The sun the eight planet with their sattelites and some other
    heavenly bodies like asteroids and comets from the solar system.The sun have
    eight son.the sun is located between the whole solar system 
    <H3 ALIGN=LEFT>The Sun is the largest memberof the solar system.All the planets
    satellites asteroids and comets revolve around it<BR>
    It is about 150 Million Km away from the earth it produces a lot of heat
    and light which is neccesary for all forms of life on the earth MADE BY NIHAL PATEL</p>
    <H3 ALIGN=LEFT>The planets </H3>
    <FONT FACE=MONOTYPE CORSIVA SIZE=5 COLOR=LIGHTBLUE>
    <P><B><I><U>The planets are the celestrial Bodies that do not have thier
    own heat and light . they are sprerical in shape there are eight planets in our solar system </U></I></B></P></FONT>
    <OL TYPE=DISC>
    <LI>MERCURY               <LI>VENUS        <LI>EARTH         <LI>MARS
    <LI>JUPITER                  <LI>SATURN      <LI>URANUS      <LI>NEPTUNE</OL>
    <A HREF="F:\Dekstop\Coding\python-class\class1\second.html">click here</A>to view image gallery.
        <img href ="D:/Project/data/Planets_img.html" >
       
    <button><a href="https://www.techxsheela.com/">GO to techxsheela</a></button>
    </BODY><HTML>

        <html>
            <head>
                <body>
                    <h4>1. venus</h4> <img src="https://www.google.com/url?sa=i&url=https%3A%2F%2Fwww.shutterstock.com%2Fsearch%2Fsolar%2Bsystem&psig=AOvVaw1xol-JmEhsUS-7fNF0KH7H&ust=1623168164115000&source=images&cd=vfe&ved=0CAIQjRxqFwoTCMDF9uDyhfECFQAAAAAdAAAAABAD" height="50%" width="50%"> <br>
                    <h4>1. Mercury</h4> <img src="C:\Users\Nihal Patel\Desktop\planet photos\venus.jpg" height="50%" width="50%"> <br>
                    <h4>1. earth</h4> <img src="C:\Users\Nihal Patel\Desktop\planet photos\venus.jpg" height="50%" width="50%"> <br>
                    <h4>1. Mars</h4> <img src="C:\Users\Nihal Patel\Desktop\planet photos\venus.jpg" height="50%" width="50%"> <br>
                    <h4>1. jupiter</h4> <img src="C:\Users\Nihal Patel\Desktop\planet photos\venus.jpg" height="50%" width="50%"> <br>
                    <h4>1. saturn</h4> <img src="C:\Users\Nihal Patel\Desktop\planet photos\venus.jpg" height="50%" width="50%"> <br>
                    <h4>1. neptune</h4> <img src="C:\Users\Nihal Patel\Desktop\planet photos\venus.jpg" height="50%" width="50%"> <br>
                </body>
            </head>
        </html>